:root {
  /*--cell-size: 32;*/
  --area-columns: 12;
  --area-rows: 21;
  --cell-size: calc(100vh / var(--area-rows));
  --area-width: calc(var(--cell-size) * var(--area-columns));
  --area-height: 100vh;
  --area-border-color: rgba(255, 255, 255, 0.1);
  --dark-bg: #2D2C3B;
  --page-bg: #403e54;
  --game-area-bg: var(--dark-bg)
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: var(--page-bg);
  margin: 0;
}

.game {
  display: flex;
  justify-content: center;
  align-content: center;
}

.game-stats {
  width: 300px;
}
.game-area {
  display: flex;
  flex-wrap: wrap;
  width: var(--area-width);
  height: var(--area-height);
  background-color: var(--game-area-bg);
}

.area-cell {
  width: calc(var(--cell-size));
  height: calc(var(--cell-size));
  border: 1px solid var(--area-border-color);
}

.area-cell.element {
  border: 5px outset currentColor;
  background: currentColor;
}

.area-cell.cyan {
  color: cyan;
}

.area-cell.blue {
  color: #5d8bff;
}

.area-cell.orange {
  color: orange;
}

.area-cell.yellow {
  color: yellow;
}

.area-cell.green {
  color: greenyellow;
}

.area-cell.pink {
  color: #ff9cc1;
}

.area-cell.red {
  color: #ff4d4d;
}
